<div class="bg card" style="width: 45rem; height: auto">
  <div class="container d-flex flex-column align-items-center">
    <h3 class="card-title mt-3">{{ pokemon?.name | titlecase }}</h3>
      
    <div class="d-flex justify-content-between mt-5 w-75">
      <div>
        <h5>Dettaglio</h5>
        <p><span>ID: </span>{{pokemon?.id}}</p>
        <p><span>Nome: </span>{{pokemon?.name | titlecase}}</p>
        <p><span>Peso: </span>{{pokemon?.weight}}</p>
        <p><span>Altezza: </span>Altezza: {{pokemon?.height}}</p>
      </div>
      <img src="{{ pokemon?.sprites?.front_default }}"/>
    </div>

    <div class="d-flex justify-content-between mt-5 mb-3 w-50">
      <button class="btn btn-danger btn-lg" (click)="selectPokemon('rifiuta')">Rifiuta</button>
      <button class="btn btn-success btn-lg" (click)="selectPokemon('cattura')" [disabled]="pokemonCatturati.length >= 6">Cattura</button>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3 mb-3">E' apparso un {{pokemon?.name | titlecase}} selvatico</div>
</div>
